{% extends 'base.html.twig' %}

{% block title %}Activity panel{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/eventsource.min.js') }}" defer></script>
  <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/activity.js') }}" defer></script>
{% endblock %}

{% block body %}
<main class="w-100 p-3">
  <h1>Activity Panel</h1>

  <ul id="activity-container">
    {# Here will go the realtime activity messages #}
  </ul>
</main>
{% endblock %}
