{% extends 'base.html.twig' %}

{% block title %}Dinosaurs{% endblock %}

{% block importmap %}
  {{ importmap(['app', 'dinosaurs']) }}
{% endblock %}

{% block body %}
<main>
  <div class="list-group">
    {% for dinosaur in dinosaurs %}
    <a class="list-group-item list-group-item-action d-flex gap-3 py-3"
      href="{{ path('app_single_dinosaur', {id: dinosaur.id}) }}"
    >
      <img
        src="{{ asset('img/dino.png') }}"
        alt="twbs"
        width="32"
        height="32"
        class="rounded-circle flex-shrink-0"
      >
      <div class="d-flex gap-2 w-100 justify-content-between">
        {{ dinosaur.name }}
      </div>
    </a>
    {% endfor %}
  </div>
</main>
{% endblock %}
