{% extends 'base.html.twig' %}

{% block title %}Dinosaurs{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/dinosaurs.css') }}" />
{% endblock %}

{% block javascripts  %}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block body %}
<main>
    <div class="list-group">
        {% for dinosaur in dinosaurs %}
            {{ include('dinosaur-list.html.twig', {dinosaur: dinosaur}) }}
        {% endfor %}
    </div>
</main>
{% endblock %}
