{% extends 'base.html.twig' %}

{% block title %}Habitats{% endblock %}

{% block importmap %}
    {{ importmap(['app', 'habitat']) }}
{% endblock %}

{% block body %}
<main>
    <twig:Molecules:HabitatsList habitats="{{ habitatsList }}" />
</main>
{% endblock %}
