{% extends 'base.html.twig' %}

{% block title %}Species{% endblock %}

{% block importmap %}
  {{ importmap(['app', 'dinosaurs']) }}
{% endblock %}

{% block body %}
<main>
    {# {{ render(controller('App\\Controller\\SpeciesController::getSpeciesList')) }} #}
    {{ render_hinclude(controller('App\\Controller\\SpeciesController::getSpeciesList')) }}
</main>
{% endblock %}

